.button-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  align-items: center;
  width: 184px;
  border-radius: 16px;
  box-sizing: border-box;
  font-family: 'Golos',Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  transition: opacity .3s ease-in;
}

.button-link:hover {
  opacity: .8;
}
