.button-link_type_disabled {
  color: #9397a3;
  background-color: #e6e7eb;
  cursor: default;
}

.button-link_type_disabled::after {
  content: url(../../../images/buttons/arrow-right_disabled.svg);
}

.button-link_type_disabled:hover {
  opacity: 1;
}
