.button-link_type_previous {
  color: #ff6600;
  border: 1.2px solid #E6E7EB;
  background-color: #fff;
  margin-right: 24px;
}

.button-link_type_previous::before {
  content: url(../../../images/buttons/arrow-left.svg);
  padding-right: 8px;
  width: 24px;
  height: 24px;
}
