.main{
  /* display: flex;
  justify-content: space-between; */
  padding: 32px 60px 97px 60px;
  display: grid;
  grid-template-columns: 1fr minmax(250px, 424px);
  grid-template-rows: 50px 1fr;
  column-gap: 24px;
}
