.test-result__btn_theme_not-active {
  border: 1.2px solid #E6E7EB;
  background: #E6E7EB;
  color: #9397A3;
}

.test-result__btn_theme_not-active:hover {
  background: #f3f3f3;
  cursor: pointer;
  transition: background .3s ease;
}
