.test-preview__start {
  min-width: 180px;
  padding: 12px 4px;
  margin: 32px 0 0 0;
  border: none;
  background-color: #ff6600;
  border-radius: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  transition: opacity .3s ease-in;
}

.test-preview__start:hover {
  opacity: .8;
}
