.video__timeline{
  background-image: url(../../../images/video/timeline.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 470px 20px;
  background-color: transparent;
  border: none;
  width: 470px;
  height: 20px;
  cursor: pointer;
  padding: 0;
}
