.test__checkbox_visible {
  display: inline-block;
  background: #fff url(../../../../images/test/checked_off.svg) no-repeat;
  background-size: 24px;
  padding-left: 32px;
}

.test__checkbox:checked + .test__checkbox_visible {
  background: #fff url(../../../../images/test/checked_on.svg) no-repeat;
  background-size: 24px;
  color: #f06000;
}
