.kyrs-result_list__title{
    max-width: 680px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    color: #212329;
    margin-block-end: 0px;
    margin-block-start: 0px;
}