.form-test__check {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}


.form-test__check:checked + .form-test__visible-check_type_checkbox {
  background-image: url(../../../images/test-result/checkON.svg);
  color: #F06000;
}

.form-test__check:checked + .form-test__visible-check_type_radio {
  background-image: url(../../../images/test-result/radioON.svg);
  color: #F06000;
}
