.test-preview__points{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-image: url(../../../images/test-preview/check.svg);
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: center;
  background-size: 16px 16px;
  padding: 0 0 0 35px;
  margin: 32px 0 16px 0;
}
