.button {
  max-width: 184px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  width: 100%;
  font-family: 'Golos',Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.button:hover {
  opacity: .8;
}
