.button {
  max-width: 184px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  width: 100%;
  font-family: 'Golos', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  opacity: .8;
}
